:root {
    --cor-fundo: #800080;
    --cor-texto: #f6f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 64px;
    padding: 0 20px;    
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: var(--cor-fundo);
}

header h2,
strong {
    color: var(--cor-texto);
}

main {
    height: calc(100vh - 176px - 64px);
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main input {
    width: 300px;
    height: 48px;
}

main button {
    margin-top: 10px;
    width: 300px;
    height: 48px;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

main button:hover {
    opacity: 0.8;
}

footer {
    height: 176px;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-fundo);
}

footer div {
    height: 100%;
    width: 32%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto);
}
